<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form  action="/pokemon" method="post">

      Enter your new Pokemon Name: <input type="text" name="pokemon[name]">
      <button type="submit" value="Submit Pokemon">Submit</button>
      <br></br>

      <h2>Abilities</h2>
      <select name="pokemon[ability]">
        <% @abilities.each do |ability| %>
        <option value="<%=ability%>"><%=ability%></option>
        <%end%>
      </select>

      <br></br>


      <h2>Moves</h2>
      <select name="pokemon[move_ids][]">
        <% @moves.each do |move| %>
        <option value="<%=move.id%>"><%=move.name%> Lvl <%=move.power_level%></option>
        <%end%>
      </select>

      <br></br>

      <select name="pokemon[move_ids][]">
        <% @moves.each do |move| %>
        <option value="<%=move.id%>"><%=move.name%> Lvl <%=move.power_level%></option>
        <%end%>
      </select>

      <br></br>

      <select name="pokemon[move_ids][]">
        <% @moves.each do |move| %>
        <option value="<%=move.id%>"><%=move.name%> Lvl <%=move.power_level%></option>
        <%end%>
      </select>

      <br></br>

      <select name="pokemon[move_ids][]">
        <% @moves.each do |move| %>
        <option value="<%=move.id%>"><%=move.name%> Lvl <%=move.power_level%></option>
        <%end%>
      </select>




    </form>

  </body>
</html>
