<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=@pokemon.name%></title>
  </head>
  <body>
      <h1>Name: <%=@pokemon.name%></h1>
      <h2>Ability: <%=@pokemon.ability%></h2>
      <h3>Moves</h3>
      <%@pokemon.moves.each do |move|%>
      <h4><%=move.name%>: Lvl <%=move.power_level%></h4>
      <%end%>



  </body>
</html>
